/* biome-ignore lint/suspicious/noUnknownAtRules: tailwind rule */
@tailwind base;
/* biome-ignore lint/suspicious/noUnknownAtRules: tailwind rule */
@tailwind components;
/* biome-ignore lint/suspicious/noUnknownAtRules: tailwind rule */
@tailwind utilities;

:root {
  --color-text: 17 24 28; /* #11181C */
  --color-background: 255 255 255; /* #ffffff */
  --color-primary: 10 126 164; /* #0a7ea4 */
  --color-icon: 104 112 118; /* #687076 */
  --color-border: 229 229 229; /* #e5e5e5 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: 236 237 238; /* #ECEDEE */
    --color-background: 21 23 24; /* #151718 */
    --color-primary: 255 255 255; /* #ffffff */
    --color-icon: 155 161 166; /* #9BA1A6 */
    --color-border: 42 42 42; /* #2a2a2a */
  }
}
